#barcode-block {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(0,0,0,0.2);
}
#barcode-block .loading {
	position: fixed;
	background: url(./images/loading.gif) 100% 100% no-repeat;
    background-size: cover;
}
#barcode-block img {
	display: block;
	position: fixed;
}
.barcode-url {
	margin: 0.4ex 0.2em -0.4ex 0;
	padding: 0;
	display: inline-block;
	width: 2ex;
	height: 2ex;
	background: #7F7F7F url(./images/barcode.png) 100% 100% no-repeat;
    background-size: cover;
}
